"*":
  "atom-beautify":
    css:
      indent_size: 2
      newline_between_rules: true
    general:
      _analyticsUserId: "9d41cb88-e4ae-4788-8720-245507aa1993"
    html:
      indent_size: 2
    js:
      indent_size: 2
    json:
      indent_size: 2
  "color-picker": {}
  core:
    packagesWithKeymapsDisabled: []
  editor:
    fontSize: 16
    invisibles: {}
    showInvisibles: true
  emmet: {}
  "exception-reporting":
    userId: "803ca17b-2821-709b-cfa4-2f72c81cb115"
  "file-icons": {}
  linter:
    errorPanelHeight: 175
    showErrorPanel: false
  "linter-rubocop": {}
  "markdown-preview":
    useGitHubStyle: true
  minimap: {}
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "status-bar": {}
  tabs:
    usePreviewTabs: true
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
