packages: [
  "atom-beautify"
  "color-picker"
  "docblockr"
  "emmet"
  "file-icons"
  "linter"
  "linter-csslint"
  "linter-jshint"
  "linter-ruby"
  "linter-tidy"
  "minimap"
  "package-sync"
  "pigments"
]
