[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[user]
	name = andreumasferrer
	email = andreumasferrer@outlook.com
[core]
	editor = code --wait
[push]
	default = upstream
[merge]
	conflictstyle = diff3
